// creacion de extends

%titulos {
    color: #34baab;
    background-color:#8989896a;
    font-style: italic;
    font-weight: 600;
    transform: skewY(5deg);
    padding: 1rem;
    margin: 2rem;
}

%bg-fondo {
    background-image: url('../imagenes/blueGradient.png');
    background-size: cover;
    background-repeat: no-repeat;
}

%bg-wallpaper {
    background-image:url('../imagenes/wallpaper.png');
    background-size: cover;
    background-repeat: no-repeat;
}

%tranfo-scale {
    transform: scale(1.05,1.05);
}
