/* barra de navegacion  */

    nav {
        background: $GradientBg;

        div {

            .logos {
                border-radius: 100%;

                &:hover {
                    transform: scale(1.1, 1.1);
                }
            }

            .navbar-toggler {
                border: rgba(255, 255, 255, 0.638) solid 2px;
            }

            div {

                .navbar-nav {
                    display: flex;
                    align-items: flex-end;
                }

                .active {

                    color:$btn-letter !important;
                    font-weight: 900 !important;

                    &:hover {
                        background-color: #ffffff32;
                        padding: 5px;
                        @extend %tranfo-scale;
                    }

                }

                .nav-link {
                    color:$btn-letter;
                    font-weight: 500;
                    font-size: large;

                    &:hover {
                        color:$btn-letter;
                        font-weight: 600;
                        background-color: #ffaf0163;
                        padding: 5px;
                        @extend %tranfo-scale;
                    }
                }
            }
        }
    }
