.bg-personalizado {

    .contenedorPrincipal {
        @include justify-center (none, column, center);


        div {
            .img-texto {
                @include justify-center (none, column, center);
                text-align: center;
                color: $btn-letter;
                margin: 5px;
                font-size: small;
            }
        }

        .parrafos {
            @include justify-center (none, column, center);
            text-align: center;
            margin: 15px;
            padding: 1rem;
            color: $btn-letter;
            font-size: larger;
        }
    }
}

@media (min-width:992px) {

    .bg-personalizado {
        .contenedorPrincipal {

            .parrafos {
                @include justify-center (none, column, center);
                text-align: center;
                margin: 2% 23% 2% 23%;
                padding: 1rem;
                color: $btn-letter;
                font-size: larger;
            }
        }

    }
}