.bg-personalizado {

    .texto-complementario {
        @include justify-center(column, nowrap, center);
        margin: 1rem;
        color: #fafafa;
        font-size: medium;
    }


    .containerMap {
        @include justify-center (none, none, center);
        padding: 20px;
    }

}